:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  min-height: 58px;
  gap: 8px 16px;
  padding: 8px 12px;
  background-color: #fff;
  border-bottom: 1px solid #999999;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
