:host {
  display: flex;
  flex-direction: column;
  background-color: var(--db_page-background-color);
  height: 100%;
}

.container {
  overflow: auto;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--db_card-background-color);
  padding: 16px 32px;
  margin: 32px var(--db_page-space-x);
}
