<button
  matIconButton
  aria-label="Zoom out"
  matTooltip="Zoom out"
  (click)="shiftValue(-ZOOM_STEP)"
>
  <mat-icon>remove</mat-icon>
</button>

<mat-form-field
  class="zoom-input-field"
  appearance="outline"
  subscriptSizing="dynamic"
>
  <input
    #input
    matInput
    type="text"
    inputmode="numeric"
    pattern="[0-9]*"
    [(ngModel)]="textValue"
    (focus)="onInputFocus()"
    (blur)="applyValue(textValue())"
    (keydown.enter)="applyValue(textValue())"
  />
  <span matTextSuffix>&nbsp;%</span>
</mat-form-field>

<button
  matIconButton
  aria-label="Zoom in"
  matTooltip="Zoom in"
  (click)="shiftValue(ZOOM_STEP)"
>
  <mat-icon>add</mat-icon>
</button>
