:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  max-height: 100%;
  --page-width: calc(var(--page-zoom-ratio) * var(--default-page-width));
}

.page {
  box-shadow: 0 0 6px #999999;
  width: var(--page-width);
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
  }
}

.document-container {
  overflow: auto;
  width: 100%;
  padding-top: 24px;
}

.document-content {
  display: inline-flex;
  flex-direction: column;
  gap: calc(16px * var(--page-zoom-ratio));
  padding: 8px;
  min-width: 100%;
}
