<db-header [title]="document()?.name || 'Loading...'">
  <div class="header-panel">
    @if (loadingState() === 'LOADED') {
      <button
        matButton="filled"
        (click)="onSave()"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
    }
    <db-zoom-panel [(value)]="zoomPercent"/>
  </div>
</db-header>

<div
  #documentContainer
  class="document-container"
>
  <div class="document-content">
    @switch (loadingState()) {
      @case ('LADING') {
        <div class="card loader">
          <mat-spinner [diameter]="24"/>
          <h3>Loading...</h3>
        </div>
      }
      @case ('ERROR') {
        <div class="card error">
          <h3>An error occurred while uploading the document, please try again later...</h3>
        </div>
      }
      @case ('LOADED') {
        @if (document(); as document) {
          @for (page of document.pages; track page.number) {
            <db-page-image
              [page]="page"
              (pageChange)="onPageChange($event, $index)"
            />
          }
        }
      }
    }
  </div>
</div>
