:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--db_page-background-color);
  height: 100%;
  --page-width: calc(var(--page-zoom-ratio) * var(--default-page-width));
}

.card {
  margin: 16px var(--db_page-space-x);
  padding: 32px var(--db_card-space-x);
  background-color: var(--db_card-background-color);

  h3 {
    margin: 0;
  }
}

.loader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  color: var(--db_error-color);
}

.document-container {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.document-content {
  display: inline-block;
  min-width: 100%;
}

db-page-image:first-child {
  padding-top: 16px;
}
